<%- include("../includes/head_admin.ejs") %>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Preloader -->


      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->

        <!-- Sidebar -->
        <%- include("../includes/sidebar_admin.ejs") %>
          <!-- Content Wrapper. Contains page content -->
          <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1>Post</h1>
                  </div>
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Posts</a></li>
                      <li class="breadcrumb-item active">Creating the Post</li>
                    </ol>
                  </div>
                </div>
              </div>
              <!-- /.container-fluid -->
            </section>

            <div class="container">
              <div>
                <img src="<%=post.imageUrl%>" style="width: 90%;" alt="<%=post.title%>">
                <div>
                  <h5 class="card-title"> <span style="color: red; font-size: 25px;">Title: </span>
                    <%=post.title%>
                  </h5>
                  <p class="card-text"><span style="color: red; font-size: 25px;">Description: </span>
                    <%-post.description%></p>
                </div>
              </div>
            </div>


            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
              <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
          </div>
          <!-- ./wrapper -->
          <script>
            ClassicEditor
              .create(document.querySelector('#description'))
              .catch(error => {
                console.error(error);
              });
          </script>
          <!-- jQuery -->
          <script src="/plugins/jquery/jquery.min.js"></script>
          <!-- Bootstrap 4 -->
          <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
          <!-- jsGrid -->
          <script src="/plugins/jsgrid/demos/db.js"></script>
          <script src="/plugins/jsgrid/jsgrid.min.js"></script>
          <!-- AdminLTE App -->
          <script src="/js/adminlte.min.js"></script>
          <!-- AdminLTE for demo purposes -->
          <script src="/js/demo.js"></script>
          <!-- Page specific script -->
  </body>

  </html>