<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Tags</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
  <!-- Theme style -->
  <link rel="stylesheet" href="/css/adminlte.min.css" />

  <link for="stylesheet" href="/css/adminlte.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <!-- Preloader -->


    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->

      <!-- Sidebar -->
      <%- include("../includes/sidebar_admin.ejs") %>




        <div class="content-wrapper pt-5">
          <!--tags -->
          <div class="pb-4" style="margin-left: 5rem;">
            <a href="/admin/createtag" style="display: inline-block;
        padding: 10px 20px;
        background-color: #4CAF50; /* Green */
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;"></h5>Create Tag</h5></a>
          </div>
          <div class="container">
            <div class="table-responsive custom-table-responsive">
              <% if(tagList.length> 0) { %>
                <table class="table custom-table">
                  <thead>
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">Tag</th>
                      <!-- <th scope="col">Reference To Post Title   </th> -->
                      <th scope="col">Date</th>
                      <th scope="col">Different Operations </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% tagList.forEach(tag=> {%>
                      <tr scope="row">
                        <td style="
               max-width: 130px;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
            ">
                          <%=tag._id %>
                        </td>
                        <td style="
               max-width: 130px;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
            "><a href="#">
                            <%= tag.title %>
                          </a></td>
                        <td style="
             max-width: 100px;
             overflow: hidden;
             text-overflow: ellipsis;
             white-space: nowrap;
          ">
                          <%= tag.createdAt %>
                        </td>
                        <td>

                          <!-- edit -->
                          <a href="/admin/edit-tag/<%= tag._id %>?edit=true" class="btn btn-sm btn-info m-1">
                            <i class="fa fa-edit"></i>
                          </a>
                          <!--delete-->
                          <a href="/admin/delete-tag/<%= tag._id %>" class="btn btn-sm bm btn-danger m-1">
                            <i class="fa fa-trash"></i>
                          </a>
                        </td>
                        <% }) %>
                          <% } else { %>
                            <div>
                              <h1 style="font-size: 80px; font-weight: bold; color:black; padding-top: 5rem;">No Tags
                                yet)</h1>
                            </div>
                            <% } %>
                  </tbody>
                </table>
            </div>
          </div>


          <div>

            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
              <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
          </div>
          <!-- ./wrapper -->

          <!-- jQuery -->
          <script src="/plugins/jquery/jquery.min.js"></script>
          <!-- Bootstrap 4 -->
          <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
          <!-- bs-custom-file-input -->
          <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
          <!-- AdminLTE App -->
          <script src="/js/adminlte.min.js"></script>
          <!-- AdminLTE for demo purposes -->
          <script src="/js/demo.js"></script>
          <!-- Page specific script -->
          <script>
            $(function () {
              bsCustomFileInput.init();
            });
          </script>
</body>

</html>